body {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	overflow-x: hidden;
	line-height: normal;
}
		
*:focus {
	outline: none !important;
}

p {
	font-size: 1.6em;
}
		
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
}
		
hr {
	border-color: grey;
}

a {
	color: #29A6E6;
}

a:hover {
	color: #1B9DE0;
}
